<form method="post" action="{% url 'dashboard:mahasiswa-hapus' mahasiswa.nim %}" class="js-mahasiswa-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Konfirmasi Hapus Mahasiswa</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Apakah kau yakin menghapus mahasiswa dengan Nim<strong>{{ mahasiswa.nim }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Hapus Mahasiswa</button>
  </div>
</form>